* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #6c7289;
  background-color: #f2eae2;
}

.header {
  text-align: center;
}

.main {
  height: 611px;
  background-color: #ffffff;
  color: #6c7289;
}

.card {
  position: relative;
  width: 343px;
  border-radius: 0.625rem;
  margin-inline: auto;
}

@media screen and (min-width: 768px) {
  .card {
    display:flex;
    width: 600px;
    height: 450px;
  }
  .image {
    width: 300px;
  }

}

.card-label {
  font-weight: 500;
  font-size: 0.75rem;
}
.card-title {
  font-family: "Fraunces";
  color: #1c232b;
  font-size: 1.25rem;
  font-weight: 600;
}

.card-text {
  font-size: 0.875rem;
}

.price {
  font-family: "Fraunces";
  color: #3d8168;
  font-size: 2rem;
  font-weight: 700;
  margin-right: 19px;
}
.price::before {
  content: attr(data-currency);
}

.strikethrough-price {
  font-family: "Fraunces";
  color: #6c7289;
  font-size: 0.8125rem;
  font-weight: 500;
  text-decoration: line-through;
}

.strikethrough-price::before {
  content: attr(data-currency);
}

.card-button {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  position: absolute;
  bottom: 24px;
  width: 295px;
  height: 48px;
  background-color: #3d8168;
  border-radius: 0.5rem;
  padding: 0.9375rem 92px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11.61px;
}

.description {
  padding: 24px;
}
